/* Red borders on visible elements - handy for debugging */
/** { border: 1px solid red; }*/

:root {
    --bg-color: #223030;
    --text-color: #dddddd;
    --divider-color: rgba(221, 221, 221, 0.02);
    --darken-opacity: 0.3;
    --SHORTCUT_TIMEOUT: 1.5s;
}
body {
    padding: 0;
    margin: 0;

    color: var(--text-color);

    font-family: 'Raleway', sans-serif;
    font-size: 22px;

    user-select: none;
    animation: fadein 1s;
}

#beforeContainer {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-color: var(--bg-color);
  background-size: cover;

  width: 100%;
  height: 100%;

  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

#container {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, var(--darken-opacity)), rgba(0, 0, 0, var(--darken-opacity)));
}

#logo {
    padding-top: 25vh;
    text-align: center;
}
#logo h1 {
    font-weight: 200;
    font-size: 4rem;
    margin-bottom: 0;
}
#logo h2 {
    font-weight: 200;
    font-size: 2rem;
    margin-top: 0;
    opacity: 0.5;
}

#content {
    text-align: center;
}

#credits {
    position: absolute;
    font-size: 1rem;
    opacity: 0.5;
    bottom: 1rem;
    left: 1rem;
}

.group {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 20%;
    padding: 1% 3%;
}
.group h1 {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 0;
    border-bottom: 2px solid var(--text-color);
}
.group p {
    margin-bottom: 0;
    padding: 0.3rem 0;
}
.group p + p {
    margin: 0;
}

.group hr {
    border: 1px dotted var(--divider-color);
    padding: 0;
    margin: 0;
}

.shortcut {
    float: right;
    opacity: 0;
    animation: pulse var(--SHORTCUT_TIMEOUT);
}

a, a:hover {
    transition: all 0.4s ease;
}
a {
    padding: 0.3rem 0;
    color: var(--text-color);
    text-decoration: none;

    opacity: 0.5;
    padding-left: 0;
}
.group a:hover {
    opacity: 1;
    padding-left: 0.5rem;
}
#credits a:hover {
    opacity: 1;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes pulse {
    0% { opacity: 0; }
    20% { opacity: 0.3; }
    80% { opacity: 0.3; }
    100%   { opacity: 0; }
}